* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color1: #ba4270;
  --primary-color2: #fbfcfe;
  --secondary-color1: #36536b;
  --secondary-color2: #1b262f;
  --secondary-color3: #da6d97;
  --secondary-color4: #6c8294;
}

body {
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
  background-color: #edf3f8;
}

button {
  cursor: pointer;
}

.container {
  width: 80%;
  margin: 0 auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 100vh;
  background-color: #edf3f8;
}

/* Start navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1.5rem;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.nav-left ul {
  display: flex;
  gap: 2rem;
}

.navmobile {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #6c82948c;
  backdrop-filter: blur(7px);
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  z-index: 3;
}

.nav-right i {
  display: none;
}

.navmobile ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.navmobile ul a {
  color: var(--secondary-color1);
  font-weight: 700;
}

.navmobile .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0rem 2rem;
  gap: 13rem;
}

.open {
  color: var(--secondary-color1);
}

.nav-left a {
  color: var(--secondary-color1);
  font-weight: 700;
}

.nav-left a:hover {
  color: rgba(var(--secondary-color1), 2);
}

.nav-right {
  z-index: 1;
}

.btn {
  width: 10.8rem;
  height: 3rem;
  border-radius: 40px;
  border: none;
  background-color: var(--primary-color1);
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--secondary-color3);
  box-shadow: 10px 10px 25px -10px #36536b40;
  transition: 0.3s;
}

.btn:active {
  background-color: var(--primary-color1);
}
/* Finish navbar */

/* Start main page */
.main {
  margin-top: 5rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.main-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.main-left h1 {
  width: 34rem;
  font-family: "DM Serif Display";
  font-size: 4.5rem;
  line-height: 72px;
  font-weight: 400;
  color: var(--secondary-color1);
}

.input-wrapper {
  height: 3rem;
  background-color: #fff;
  width: 27.8rem;
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: 10px 10px 25px -10px #36536b40;
}

input {
  padding-left: 1rem;
  height: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: 700;
  color: var(--secondary-color1);
}

.main-left p {
  color: var(--secondary-color4);
}

.main-right {
  z-index: 1;
}

.main-left p a {
  color: var(--secondary-color1);
  font-weight: 700;
}

/* Finish main page */

/* Start brands */
.section {
  display: flex;
  width: 100%;
  height: 60vh;
  background-color: var(--secondary-color2);
}

.brands {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brands-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 27.8rem;
}

.brands-left h2 {
  font-family: "DM Serif Display", sans-serif;
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
}

.brands-right {
  display: flex;
  flex-wrap: wrap;
  width: 33.5rem;
  gap: 3rem;
}

.brands-left p {
  color: #fbfcfe99;
  line-height: 28px;
  font-weight: 400;
}

.btn2 {
  width: 8rem;
  height: 3rem;
  border: none;
  border-radius: 40px;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  transition: 0.3s;
  font-weight: 700;
}

.btn2:hover {
  background-color: #fff;
  color: #000;
  transition: 0.3s;
}
/* Finish brands */

/* Start codebox */
.codebox {
  display: flex;
  justify-content: space-around;
  height: 60vh;
  align-items: center;
  margin-top: 2rem;
}

.codebox-left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.codebox-left h1,
.codebox-left p {
  width: 27.8rem;
}

.codebox-left h1 {
  font-family: "DM Serif Display", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: var(--secondary-color1);
}

.codebox-left p {
  line-height: 28px;
  font-weight: 400;
  color: var(--secondary-color4);
}
/* Finish codebox */

/* Start phones section */
.phones {
  display: flex;
  height: 80vh;
  align-items: center;
  justify-content: space-between;
}

.phones-text {
  display: flex;
  flex-direction: column;
  width: 27.8rem;
  gap: 1.5rem;
}

.phones-images {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.phone2 {
  width: 20rem;
  height: 41.1rem;
  background-image: url("../images/ui-phone2.png");
  background-position: center 1.5rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.phones-text h1 {
  font-family: "DM Serif Display", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: var(--secondary-color1);
}

.phones-text p {
  line-height: 28px;
  font-weight: 400;
  color: var(--secondary-color4);
}

/* Finish phones section */

/* Start payments */
.payments {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 21.8rem;
  text-align: center;
  gap: 1.5rem;
  align-items: center;
}

.logo2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 106px;
  height: 106px;
  background-color: var(--secondary-color1);
  border-radius: 50%;
}

.wrapper p {
  font-weight: 400;
  line-height: 25px;
  color: var(--secondary-color4);
}
/* Finish payments */

/* Start email */
.email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7rem;
}

.email h1 {
  font-family: "DM Serif Display", sans-serif;
  font-size: 3rem;
  font-weight: 400;
  color: var(--secondary-color1);
}
/* Finish email */

/* Start footer section */
footer {
  background-color: var(--secondary-color2);
  height: 6.2rem;
  margin-top: 7rem;
  display: flex;
}

.last {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.last .nav-left ul a {
  color: #9a9a9a;
  transition: 0.3s;
}

.last .nav-left ul a:hover {
  color: #fff;
  transition: 0.3s;
}

.last-right {
  display: flex;
  gap: 1rem;
}

.last-right i {
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.last-right i:hover {
  color: var(--primary-color1);
  transition: 0.3s;
}

/* Finish footer section */
