/* Mobile  M*/
@media (max-width: 375px) {
  .nav-left ul {
    display: none;
  }
  .nav-right .btn {
    display: none;
  }

  .nav-right i {
    display: block;
  }

  /* Main page */
  .about-top {
    margin-top: 3rem;
  }

  .about-top h1 {
    font-size: 2rem;
    width: 327px;
    text-align: center;
    line-height: 36px;
  }

  .about-top-text div {
    width: 327px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  .about-top-text div h2 {
    width: 327px;
    text-align: center;
  }

  .about-top-text div p {
    width: 327px;
    color: var(--secondary-color4);
    line-height: 28px;
  }

  .about-middle {
    margin-top: 2rem;
    width: 100%;
    height: 15rem;
    background-image: url("../images/about-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .results {
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-top: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
    padding: 1rem 0rem;
    width: 18rem;
  }

  /* Main page */

  /* Start email */
  .email {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .email h1 {
    text-align: center;
    width: 320px;
    font-family: "DM Serif Display", sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    color: var(--secondary-color1);
  }

  .input-wrapper {
    height: 3rem;
    background-color: #fff;
    width: 22rem;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 10px 10px 25px -10px #36536b40;
  }

  /* Finish email */

  /* Start last */
  footer {
    height: 22rem;
    text-align: center;
    padding-bottom: 2rem;
  }

  .last .nav-left {
    display: flex;
    flex-direction: column;
  }

  .last .nav-left ul {
    display: flex;
    flex-direction: column;
  }

  .last {
    flex-direction: column;
    gap: 1.5rem;
  }
  /* Finish last */
}

/* Mobile  S*/
@media (max-width: 320px) {
  .nav-left ul {
    display: none;
  }
  .nav-right .btn {
    display: none;
  }

  .nav-right i {
    display: block;
  }

  /* Main page */
  .about-top {
    margin-top: 3rem;
  }

  .about-top h1 {
    font-size: 1.5rem;
    width: 260px;
    text-align: center;
    line-height: 36px;
  }

  .about-top-text div {
    width: 315px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
  }

  .about-top-text div h2 {
    width: 327px;
    text-align: center;
  }

  .about-top-text div p {
    width: 310px;
    color: var(--secondary-color4);
    line-height: 28px;
  }

  .about-middle {
    margin-top: 2rem;
    width: 100%;
    height: 15rem;
    background-image: url("../images/about-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .results {
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .box {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-top: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
    padding: 1rem 0rem;
    width: 18rem;
  }

  /* Main page */

  /* Start email */
  .email {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .email h1 {
    text-align: center;
    width: 320px;
    font-family: "DM Serif Display", sans-serif;
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--secondary-color1);
  }

  .input-wrapper {
    height: 3rem;
    background-color: #fff;
    width: 20rem;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 10px 10px 25px -10px #36536b40;
  }

  /* Finish email */

  /* Start last */
  footer {
    height: 22rem;
    text-align: center;
    padding-bottom: 2rem;
  }

  .last .nav-left {
    display: flex;
    flex-direction: column;
  }

  .last .nav-left ul {
    display: flex;
    flex-direction: column;
  }

  .last {
    flex-direction: column;
    gap: 1.5rem;
  }
  /* Finish last */
}
